.container { 
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #1a1a1adb;
  opacity: 0.9;
  border: 10px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
header{
 text-align: center;
}

.logo{
width: 250px;
height: 110px;
margin-top: 120px;
}
.row{
   background-color: rgb(19, 235, 69);
   text-align: center;
   font-size: larger;
   padding: 10px;
   margin-top: 10px;
   margin-left: 300px;
   margin-right: 300px; 
}
.Titolo{
   color: rgb(19, 235, 69);
}

.box {
   background-color: rgb(247, 177, 36);
   padding: 15px;
   margin-right: 850px;
   border: 2px;
   border-radius: 5px;
 }
 .box2{
   background-color: rgb(32, 212, 20);
   padding: 15px;
   margin-right: 670px;
   border: 2px;
   border-radius: 5px;
 }
 .box3{
   background-color: rgb(211, 17, 17);
   padding: 15px;
   margin-right: 990px;
   border: 2px;
   border-radius: 5px;  
 }
 .text{
   color: white;
   margin-left: 300px;
   line-height: 0.5;
 }
 body{ 
   background-image: url(background.jpg);
  background-size:cover;
}


   

